
.mb-50{
    margin-bottom: 50px;
}

.mb-20{
    margin-top: 20px;
}

.mb-80{
    margin-bottom: 80px;
}

.text-center{
    text-align: center;
    
}
.text-right{
    text-align: right;
}

a:link, a:visited{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.flex-direction-column{
    flex-direction: column;
}


