
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-dark: #000;
$color-grey-dark: #f7f7f7;
$default-font-size: 1.6rem;
$color-text: #777;

$color-primary-light-test: rgb(128, 214, 113);
$color-primary-dark-test: rgb(40, 180, 133);